/*

  Since this was a quick project, all css is located within global

*/


@charset "UTF-8";

:root {
  --nav-color: #fefeff;
}


body, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}


.row-2 {
  left: 11px;
  margin: 0 auto;
  position: relative;
  width: 938px;
}

.text {
  color: #fefeff;
  font-size: 75%; 
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.row-3 {
  margin: 2px 0 0;
  position: relative;
}
.logo-2 {
  float: left;
  position: relative;
  width: 164px;
}
.text-3 {
  float: left;
  margin: 1px 0 0;
}
.text-4 {
  color: #414f6b;
  font-size: 75%;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.shape-1-copy-3 {
  float: left;
  height: 1px;
  margin: 0 49px 0 0;
  width: 84px;
  background: #414f6b;
}
.shape-1-copy-2-2 {
  float: left;
  height: 1px;
  width: 66px;
  background: #414f6b;
}

.history-mountain {
  margin-top: 90px;
  margin-left: -32px;
  height: 70.5vh;
  width: 99%;
  background: url(../../public/images/peak.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper-2 {
  height: 148px;
  overflow: hidden;
  position: relative;
  width: 249px;
  margin-left: 15%;
}


.text-8 {
  margin: 0 auto;
  padding: 0 38px;
  position: relative;
  width: 960px;
}


.climb-text,
.climb-text-big {
  position: absolute;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

.climb-text {
  left: 50%;
  top: 77px;
  font-size: 200%;
  line-height: 35px;
  margin-left: 32px;

}

.climb-text-big {
  opacity: 0.5;
  color: #414f6b;
  font-size: 847%;
  line-height: 107%;
}

.climb-description {
  float: left;
  margin-top: 52px;
  width: 611px;
  font-weight: 300;
  line-height: 150%;
}

.climb-description-container {
  width: "10%";
  height: "10%";
}

.l-constrained-2 {
  margin: 0 auto;
  padding: 0 18px;
  position: relative;
  width: 960px;
}

.text-11 {
  float: left;
  margin: 0 36px 0 0;
  width: 108px;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 125%; /* 20px / 16px = 125% */
  font-weight: bold;
  text-decoration: underline;
}
.text-12 {
  float: left;
  width: 110px;
  color: #b0b4be;
  font-family: Oswald, sans-serif;
  font-size: 125%; /* 20px / 16px = 125% */
  font-weight: bold;
}

.text-style {
  line-height: 24px;
}

/* Footer */
.footer {
  padding-top: 16px;
  padding-bottom: 15px;
  background: #414f6b;
  width: 100%;
  height: 45px;
}

.logo_blue {
  margin-right: 10px;
}

.group-logos {
  float: left;
  margin-left: 16%;
  align-items: center;
}

.copyright-text {
  float: right;
  margin-top: 13px;
  margin-right: 18%;
  width: 264px;
  color: #63769d;
  font-size: 75%;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  user-select: none;
}


@media screen and (max-width: 600px) {

  .footer {
    height: 100px;
  }
  
  .group-logos {
    float: revert;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .copyright-text {
    text-align: center;
    margin: 0 auto;
    float: revert;
    margin-top: 30px;
  }

}

/* Navbar */ 
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  position: fixed;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin-right: 15%;
}

.nav-words,
.nav-words-mobile {
  color: var(--nav-color);
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 1rem;
  display: inline-block;
  font-size: 75%;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.01em;
  position: relative;
  user-select: none;
  transition: color 0.5s ease;
}

.nav-words::before,
.nav-words-mobile:before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 80%;
  text-align: center; 
  height: 1px; 
  background-color: var(--nav-color); 
  transition: width 0.3s, left 0.3s, color 0.5s ease;
}

.nav-words:hover::before,
.nav-words-mobile:hover:before {
  align-content: center; 
  width: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo,
.logo-mobile {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
}

.logo{
  margin-left: 100%;
}

.logo:hover,
.logo-mobile:hover {
  transform: scale(1.05);
}

.side-logo {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.side-logo-mobile {
    display: none;
}

/* Styles for mobile menu */
.mobile-menu {
  display: none;
}

.fas.fa-bars {
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 740px) {
  .nav-menu {
    display: none;
  }

  .logo-container {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: rgba(176, 180, 190, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu.active {
    transform: translateX(0);
  }

  .mobile-menu li {
    padding: 1.2rem 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(203, 203, 203);
    /* Remove bullet points */
    list-style-type: none;
  }

  .mobile-menu li:last-child {
    border-bottom: none;
  }

  .mobile-menu-top,
  .mobile-menu-bottom {
    position: relative;
  }

  .mobile-menu-bottom {
    width: 100%;
    margin-top: 40vh;
    margin-left: 70%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

  .fas.fa-bars,
  .fas.fa-xmark {
    display: flex;
    color: #fefeff;
    transform: scale(1);
    transition: transform 0.1s;
    user-select: none;
    cursor: pointer;
  }

  .fas.fa-bars {
    margin-left: 5%;
  }

  .fas.fa-bars:hover,
  .fas.fa-xmark:hover {
    transform: scale(1.05);
    transition: transform 0.1s;
  }

  .logo-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    user-select: none;
  }

  .side-logo-mobile {
    display: flex;
    opacity: 0;
    margin-right: 10%;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  
}

/* Main Page */

.mountain-pic {
  position: relative;
  height: 100%;
  background: url(../../public/images/photo-1459666644539-a9755.jpg) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}

.mountain-effect {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url(../../public/images/layer_627.png) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}

.los-angles-mountains-logo {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  left: 21%;
  top: 32%;
}

@media screen and (max-width: 740px) {

  .los-angles-mountains-logo {
    left: 10%;
  }

}

@media screen and (max-width: 600px) {

  .los-angles-mountains-logo {
    width: 416px;
    height: 161px;
  }

}

@media screen and (max-width: 500px) {

  .los-angles-mountains-logo {
    width: 297px;
    height: 115px;
  }

}

/* History Page */
.history-text {
  left: 50%;
  position: absolute;
  top: 77px;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 200%;
  font-weight: bold;
  line-height: 35px;
  margin-left: 4.5px;
}

.history-text-number {
  position: absolute;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 847%;
  font-weight: bold;
  line-height: 148px;
}

.history-description {
  margin: -8px auto 0;
  position: relative;
  width: 813px;
  z-index: 84;
  font-size: 100%;
  font-weight: 300;
  line-height: 150%;
}

.history-carousel-background {
  height: 195px;
  margin-left: -32px;
  position: relative;
  width: 100%;
  background: #414f6b;
}

.ellipse,
.ellipse-dark {
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 6px;
  margin-bottom: 10px; 
}

.ellipse-dark {
  background: rgba(255, 255, 255, 0.2);
}

.wrapper {
  float: left;
  height: 148px;
  position: relative;
  width: 244px;
  justify-content: center;
}

.carousel-container {
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  margin-inline: auto;
  margin-left: -16px;
  margin-right: auto;
  max-width: auto;
  max-height: auto; 
}

.mountain-carousel {
  overflow: none;
  padding-top: 30px;
  margin: 0 auto;
  width: 927px;
}

.mountain-carousel img {
  width: 220px;
  height: auto;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  overflow: hidden;
}

.carousel-mountain-item {
  min-width: 198px;
  max-width: 198px;
}

@media screen and (max-width: 500px) {

  .carousel-mountain-item {
    min-width: revert;
    max-width: revert;
    margin-left: -25px;
  }

}

@media screen and (max-width: 740px) {

  .ellipse,
  .ellipse-dark {
    height: 14px;
    width: 14px;
  }

}

@media screen and (max-width: 900px) {

  .mountain-carousel {
    width: 470px;
  }

}

/* Spacing for Menu Bubbles */ 
li {
  padding: 0 1rem;
}

/* Climb Page */
.mountain-bar {
  display: flex;
  height: 40px;
  margin-top: 17px;
  background: #414f6b;
  align-items: center;
}

.mountain-bar-text,
.mountain-bar-text.active {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  width: 108px;
  font-family: Oswald, sans-serif;
  font-size: 125%;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.5s ease;
  user-select: none;
  margin-left: 10px;
}

.mountain-bar-text {
  color: #b0b4be;
}

.mountain-bar-text.active {
  color: #414f6b;
}
.mountain-bar-box-1,
.mountain-bar-box-2,
.mountain-bar-box-1.active,
.mountain-bar-box-2.active {
  user-select: none;
}

.mountain-bar-box-1,
.mountain-bar-box-1.active {
  margin-left: 15%;
}

.mountain-bar-box-1.active,
.mountain-bar-box-2.active {
    background-color: #b0b4be;
    height: 100%;
}

.mountain-bar-box-1:hover,
.mountain-bar-box-2:hover {
  background-color: #b0b4be;
  height: 100%;
}

.mountain-bar-box-1:hover .mountain-bar-text,
.mountain-bar-box-2:hover .mountain-bar-text,
.mountain-bar-box-1.active .mountain-bar-text.active,
.mountain-bar-box-2.active .mountain-bar-text.active {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.mountain-bar-box-1:hover .mountain-bar-text,
.mountain-bar-box-2:hover .mountain-bar-text {
  color: #414f6b;
}
.mountain-bar-box-1:hover .mountain-bar-text::before,
.mountain-bar-box-2:hover .mountain-bar-text::before {
  background-color: #414f6b;
}

.mountain-bar-box-1.active:hover .mountain-bar-text::before,
.mountain-bar-box-2.active:hover .mountain-bar-text::before {
  background-color: #414f6b;
}

.mountain-bar-text::before,
.mountain-bar-text.active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 5%;
  width: 90%;
  text-align: center; 
  height: 1px; 
  transition: width 0.3s, left 0.3s;
}
.mountain-bar-text::before {
  background-color: #b0b4be; 
}

.mountain-bar-text.active::before {
  background-color: #414f6b; 
}

.mountain-bar-text:hover::before,
.mountain-bar-text.active:hover::before {
  align-content: center; 
  width: 0;
}

.mountain-1 {
  background: url('../../public/images/mountain-1.png') no-repeat center 0;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  height: 69vh;
}

.mountain-2 {
  background: url('../../public/images/mountain-2.png') no-repeat center 0;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  height: 69vh;
  margin-left: -32px;
}

.mountain-selection-text-2,
.mountain-selection-text-3 {
  margin-top: 30px
}

.schedule {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 18px;
  padding-bottom: 21px;
  padding-left: 20px;
  padding-right: 40px;
  margin-left: 60px;
  width: 312px;
  font-size: 100%;
  font-weight: 300;
  line-height: 24px;
  user-select: none;
}

.schedule-text {
  text-align: left;
  padding-top: 8px;
  margin-left: 26px;
  padding-bottom: 20px;
  user-select: none;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 200%; /* 32px / 16px = 200% */
  font-weight: bold;
}

.climb-container {
  margin-top: 90px;
  margin-left: -64px;
}

.team-mountain-carousel {
  margin-left: -16px;
  overflow: none;
  min-width: auto;
  max-width: auto;
}

@media screen and (max-width: 740px) {

  .mountain-bar-box-1,
  .mountain-bar-box-1.active {
    margin-left: 10%;
  }

}







/* Fonts */

/*

  Oswald Font

*/


/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*

  Lato Font

*/



/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u-w4BMUTPHjxsIPx-mPCLQ7A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u-w4BMUTPHjxsIPx-oPCI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_FQft1dw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI3wi_FQft1dw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI3wi_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHh30AUi-qJCY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHh30AXC-q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}